PROXY_HOST=https://jsonplaceholder.typicode.com/
MONGODB_URL=mongodb+srv://khmelenkowork:CIyKsbaqOAq1wkbJ@cyberw.vapgm1u.mongodb.net/?retryWrites=true&w=majority
// Format: "X-Y", where X - amout of requests, Y  letter meaning follows: "S"- Second, "M" - Minute, "H" - Hour, "D"- Day
RATELIMIT=3-S
