PROXY_HOST=https://jsonplaceholder.typicode.com/
MONGODB_URL=mongodb+srv://your_db_url
// Format: "X-Y", where X - amout of requests, Y  letter meaning follows: "S"- Second, "M" - Minute, "H" - Hour, "D"- Day
RATELIMIT=3-S
